{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "warn",
    "space-before-function-paren": 0,
    "no-use-before-define": 0,
    "indent": "off",
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
